extends layout

block content
  #main
    .six.columns
      h2.
        Recommendations to Me
      table.fullwidth
        - each tome, i in tomes
          tr
            td(class="#{tome.readbyrecipient}").
              #{tome.displayname} recommended #{tome.title} by #{tome.author} to you with the comment "#{tome.comment}".
    .six.columns
      h2.
        Recommendations from Me
      table.fullwidth
        - each frome, i in fromes
          tr
            td.read.
              You recommended #{frome.title} by #{frome.author} to #{frome.displayname} with the comment "#{frome.comment}".
