extends ./layout

block content
    #main
        h2.
             #{title}
        table
            tr
                th.
                    Title
                th.
                    Author
                th.
                    Reviewer
                th.
                    Status
                th. 
                    Review
                th.
                    Rating
                th.
                    Date Read

                th.
            - each review, i in reviews
                tr
                    td
                        =review.title
                    td
                        =review.author
                    td
                        a(href='/profile/#{review.idusers}') #{review.displayname}
                    td
                        = review.status
                    td
                        = review.review
                    td
                        = review.rating
                    td
                        = review.dateread
                    td
                        a(href='/stories/#{review.idstories}##{review.idreviews}') Show